body{
	
	background: #b0f4ff;
}

.welcomeNote{
	
	font-size: 34px;
    font-weight: bold;
	margin-left: 62px;
	padding-top: 22px;
}

.studentdetail{
	padding-top: 42px;
    margin-left: 62px;
	
	
}